[submodule "src/Nuked/Component/Defy"]
	path = src/Nuked/Component/Defy
	url = https://github.com/donaldinou/nuked-module-defy.git
[submodule "src/Nuked/Component/Contact"]
	path = src/Nuked/Component/Contact
	url = https://github.com/donaldinou/nuked-module-contact.git
[submodule "src/Nuked/Component/Comment"]
	path = src/Nuked/Component/Comment
	url = https://github.com/donaldinou/nuked-module-comment.git
[submodule "src/Nuked/Component/Calendar"]
	path = src/Nuked/Component/Calendar
	url = https://github.com/donaldinou/nuked-module-calendar.git
[submodule "src/Nuked/Component/Archives"]
	path = src/Nuked/Component/Archives
	url = https://github.com/donaldinou/nuked-module-archives.git
[submodule "src/Nuked/Component/Admin"]
	path = src/Nuked/Component/Admin
	url = https://github.com/donaldinou/nuked-module-admin.git
[submodule "src/Nuked/Component/404"]
	path = src/Nuked/Component/404
	url = https://github.com/donaldinou/nuked-module-404.git
[submodule "src/Nuked/Component/Members"]
	path = src/Nuked/Component/Members
	url = https://github.com/donaldinou/nuked-module-members.git
[submodule "src/Nuked/Component/Links"]
	path = src/Nuked/Component/Links
	url = https://github.com/donaldinou/nuked-module-links.git
[submodule "src/Nuked/Component/Irc"]
	path = src/Nuked/Component/Irc
	url = https://github.com/donaldinou/nuked-module-irc.git
[submodule "src/Nuked/Component/Guestbook"]
	path = src/Nuked/Component/Guestbook
	url = https://github.com/donaldinou/nuked-module-guestbook.git
[submodule "src/Nuked/Component/Gallery"]
	path = src/Nuked/Component/Gallery
	url = https://github.com/donaldinou/nuked-module-gallery.git
[submodule "src/Nuked/Component/Forum"]
	path = src/Nuked/Component/Forum
	url = https://github.com/donaldinou/nuked-module-forum.git
[submodule "src/Nuked/Component/Download"]
	path = src/Nuked/Component/Download
	url = https://github.com/donaldinou/nuked-module-download.git
[submodule "src/Nuked/Component/Suggest"]
	path = src/Nuked/Component/Suggest
	url = https://github.com/donaldinou/nuked-module-suggest.git
[submodule "src/Nuked/Component/Search"]
	path = src/Nuked/Component/Search
	url = https://github.com/donaldinou/nuked-module-search.git
[submodule "src/Nuked/Component/Sections"]
	path = src/Nuked/Component/Sections
	url = https://github.com/donaldinou/nuked-module-sections.git
[submodule "src/Nuked/Component/Server"]
	path = src/Nuked/Component/Server
	url = https://github.com/donaldinou/nuked-module-server.git
[submodule "src/Nuked/Component/Stats"]
	path = src/Nuked/Component/Stats
	url = https://github.com/donaldinou/nuked-module-stats.git
[submodule "src/Nuked/Component/Recruit"]
	path = src/Nuked/Component/Recruit
	url = https://github.com/donaldinou/nuked-module-recruit.git
[submodule "src/Nuked/Component/News"]
	path = src/Nuked/Component/News
	url = https://github.com/donaldinou/nuked-module-news.git
[submodule "src/Nuked/Component/Wars"]
	path = src/Nuked/Component/Wars
	url = https://github.com/donaldinou/nuked-module-wars.git
[submodule "src/Nuked/Component/Vote"]
	path = src/Nuked/Component/Vote
	url = https://github.com/donaldinou/nuked-module-vote.git
[submodule "src/Nuked/Component/Userbox"]
	path = src/Nuked/Component/Userbox
	url = https://github.com/donaldinou/nuked-module-userbox.git
[submodule "src/Nuked/Component/User"]
	path = src/Nuked/Component/User
	url = https://github.com/donaldinou/nuked-module-user.git
[submodule "src/Nuked/Component/Textbox"]
	path = src/Nuked/Component/Textbox
	url = https://github.com/donaldinou/nuked-module-textbox.git
[submodule "src/Nuked/Component/Team"]
	path = src/Nuked/Component/Team
	url = https://github.com/donaldinou/nuked-module-team.git
[submodule "src/Nuked/Component/Survey"]
	path = src/Nuked/Component/Survey
	url = https://github.com/donaldinou/nuked-module-survey.git
